
.selectSidebar {
    width: 17%;
    height: 100vh;
}
.todoTitle {
    font-weight: 600;
    padding-top: 32px;
}
.taskTitle {
    padding: 8px 16px;
}
.taskBtn {
    margin: 32px 16px;
}
.selected {
    color: rgb(225 29 72);
    background-color: rgba(237 233 254);
    border-right: 4px solid rgb(225 29 72);
}
