@use "sass:math";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-size: 18px;
  line-height: 20px;
  user-select: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*::-webkit-scrollbar {
  width: 0;
}
.cursor-pointer {
  cursor: pointer;
}
/* Display */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-1 {
  flex: 1 1;
}
.alignCenter {
  align-items: center;
}
.justifyCenter {
  justify-content: center;
}
.justifyBetween {
  justify-content: space-between;
}
.justifyEvenly {
  justify-content: space-evenly;
}

/* Colors */
.whiteBg{
  background-color: #fff;
}
.blueBg {
  background-color: #7C3AED !important;
}
.lightBlueBg {
  /* background-color: rgb(203 213 225); */
  background-color: rgb(226 232 240);
}
.grayFont {
  color: rgba(71 85 105);
}
.redBg {
  background-color: rgb(225 29 72);
}
.redFont {
  color: rgb(225 29 72);
}
.violetBg {
  background-color: rgba(237 233 254);
}
.whiteFont {
  color: #fff;
}
.stroke-rose-500 {
  stroke: #f43f5e;
}
.fill-rose-500 {
  fill: #f43f5e !important;
}
.fill-none {
  fill: none !important;
}

/* Fonts */
.font28{
  font-size: 28px;
  line-height: 30px;
}
.font24{
  font-size: 24px;
  line-height: 28px;
}

/* Padding */
.p-20 {
  padding: 20px;
}
.mb-8{
  margin-bottom: 8px;
}


/* Text decoration */
.upperCase {
  text-transform: uppercase;
}
.lowerCase {
  text-transform: lowercase;
}
$sizes: 100;
@mixin margin-classes {
  @for $i from 0 through $sizes {
    $margin: $i * 1px;
    $width: $i * 1%;
    /* margin #{$margin} */
    .m-#{$i}  {margin: $margin;}
    .ml-#{$i} {margin-left: $margin;}
    .mr-#{$i} {margin-right: $margin;}
    .mt-#{$i} {margin-top: $margin;}
    .mb-#{$i} {margin-bottom: $margin;}
    .mx-#{$i} {margin-left: $margin; margin-right: $margin;}
    .my-#{$i} {margin-top: $margin; margin-bottom: $margin;}
    .p-#{$i} {padding: $margin;}
    .pl-#{$i} {padding-left: $margin;}
    .pr-#{$i} {padding-right: $margin;}
    .pt-#{$i} {padding-top: $margin;}
    .pb-#{$i} {padding-bottom: $margin;}
    .px-#{$i} {padding-left: $margin; padding-right: $margin;}
    .py-#{$i} {padding-top: $margin; padding-bottom: $margin;}
    .mh-#{$i}  {min-height: $margin;}
    .w#{$i}  {width: $width;}
  }
}
@include margin-classes;

$width: 5 10 15 20 25 30 33 35 40 45 50 55 60 65 70 75 80 90 100;
@each $current-width in $width {
  .w#{$current-width}{
    width: $current-width*1%;
  }
}
$fontSize: 12 14 16 18 20 22 24 26 28 30 32 45;
@each $size in $fontSize {
  .font#{$size} {
    font-size: math.div($size , 16) +rem;

    @media only screen and (max-width: 1080px) {
      font-size: math.div($size , 18) +rem;
    }
  }
}
$fontSize: 100 200 300 400 500 600 700 800 900;
@each $size in $fontSize {
  .fw-#{$size} {
    font-weight: $size;
  }
}